<a href="https://colab.research.google.com/github/RendiZein/SeminarAI_PRTA/blob/main/Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel

Variabel adalah objek untuk menyimpan data sementara menggunakan `=`
* `#` komentar
* `print()` untuk menampilkan variabel

In [ ]:
x = 1 # menyimpan 1 pada

In [ ]:
print(x) # menampilkan variabel x

1

In [ ]:
x = 3 #update variabel x
print(x) # menampilkan variabel x

3

# Data types

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple
* Mapping Type:	dict
* Boolean Type:	bool

In [ ]:
print(Badan Riset dan Inovasi Nasional)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-5-ef1c86d20c11>, line 1)

In [ ]:
print("Badan Riset dan Inovasi Nasional")

Badan Riset dan Inovasi Nasional

In [ ]:
a=3
b=2.1
c='5'
d= 2+1j

In [ ]:
print(a+b)

5.1

In [ ]:
print(a+c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(a+d)

(5+1j)

In [ ]:
print(a**a)

27

In [ ]:
e=True
f=False
print(f"Penjumlahan ")
print(e+f)
print(e-f)
print(e*f)

Penjumlahan
1
1
0

# Lists, tuples and dictionaries

## List

`List` adalah struktur data yang dapat diubah

## Tuples

`Tuples` adalah struktur data yang tidak dapat diubah

In [ ]:
a = (2,3)
a[0]=1
print(a[0])

TypeError: 'tuple' object does not support item assignment

## Dictionaries

`Dictionaries` adalah struktur data yang berupa `key:value` dan dapat diubah

In [ ]:
##