<a href="https://colab.research.google.com/github/RendiZein/SeminarAI_PRTA/blob/main/Python_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Variabel

Variabel adalah objek untuk menyimpan data sementara menggunakan `=`
* `#` komentar
* `print()` untuk menampilkan variabel

In [ ]:
x = 1 # menyimpan 1 pada

In [ ]:
print(x) # menampilkan variabel x

1

In [ ]:
x = 3 #update variabel x
print(x) # menampilkan variabel x

3

# Data types

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple
* Mapping Type:	dict
* Boolean Type:	bool

In [ ]:
print(Badan Riset dan Inovasi Nasional)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-5-ef1c86d20c11>, line 1)

In [ ]:
print("Badan Riset dan Inovasi Nasional")

Badan Riset dan Inovasi Nasional

In [ ]:
a=3
b=2.1
c='5'
d= 2+1j

In [ ]:
print(a+b)

5.1

In [ ]:
print(a+c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(a+d)

(5+1j)

In [ ]:
print(a**a)

27

In [ ]:
e=True
f=False
print(f"Penjumlahan ")
print(e+f)
print(e-f)
print(e*f)

Penjumlahan
1
1
0

# Lists, tuples and dictionaries

## List

`List` adalah struktur data yang dapat diubah
* Index pada python dimulai dengan 0 (0,1,2,3,...)
* `[start:stop:step]`

In [ ]:
some_list = [1, "test", 1+1j]

In [ ]:
print(some_list[0])
print(some_list[2])

In [ ]:
print(some_list[-1])

In [ ]:
del some_list[2]
print(some_list)
some_list.append(1.0)
print(some_list)
print("List has", len(some_list), "elements")

In [ ]:
some_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(some_list[2:5])
print(some_list[3:8:2])

In [ ]:
print(some_list[::2])

## Tuples

`Tuples` adalah struktur data yang tidak dapat diubah

In [ ]:
t = (1, 2, 3, 4, 5)
print(t)
print(t[1:4:2])

In [ ]:
# Will throw an error
t[0] = 3

In [ ]:
not_a_tuple = ('car')
is_a_tuple = ('car',)
print(type(not_a_tuple))
print(type(is_a_tuple))

In [ ]:
some_dict = {1: "some entry", "key": 1.0}

print(some_dict["key"])
some_dict[8] = "something"
del some_dict[1]
print(some_dict)

In [ ]:
not_a_tuple = ('car')
is_a_tuple = ('car',)
print(type(not_a_tuple))
print(type(is_a_tuple))

## Dictionaries

`Dictionaries` adalah struktur data yang berupa `key:value` dan dapat diubah

In [ ]:
some_dict = {1: "some entry", "key": 1.0}

print(some_dict["key"])
some_dict[8] = "something"
del some_dict[1]
print(some_dict)

In [ ]:
print(some_dict.keys())
print(some_dict.values())

In [ ]:
print(some_dict.items())

# Conditional Statements

In [ ]:
i = 10

if i < 5:
    print("i is smaller than 5")
elif 5 <= i < 10:
    print("i is bigger than 4 but smaller than 10")
else:
    print("i is larger than 9")

In [ ]:
i = 1

if i == 1 or i == 2:
    print("i is 1 or 2")
elif i > 3 and i < 5:
    print("i is 4")

# Loop

## For

In [ ]:
for i in range(10):
    print(i)

In [ ]:
a = 0
for i in range(10):
    a += i
    print(a)

In [ ]:
some_list = [1, "text", 5, 1.0]

for entry in some_list:
    print(entry)

In [ ]:
N = 2
for i in range(N):
    for j in range(N):
        print(i, j)

## While

In [ ]:
i = 1
while i < 50:
    print(i)
    i = i * 2

# Functions

In [1]:
def some_function(x, y):
    c = x + y
    return c

In [2]:
print(some_function(1, 3))
print(some_function(1, 1.4))

4
2.4

In [ ]:
def another_function(x, y=10):
    print("x =", x)
    print("y =", y)
    print()

another_function(1)
another_function(y=1, x=10)

In [ ]:
def print_function(x):
    print("The value x =", x)

pfun = print_function
pfun(1)

In [ ]:
def some_function(x, p_fun):
    p_fun(x)

some_function(1, print_function)

# Latihan

Jika kita membuat daftar bilangan di bawah 10 yang merupakan kelipatan dari 3 atau 7, kita akan memperoleh angka 3, 6, 7 dan 9. Jumlahan dari bilangan-bilangan tersebut adalah 25. Carilah jumlahan dari semua bilangan kelipatan 3 atau 7 di bawah 10000.

In [ ]:
import numpy as np

In [ ]:
def nomor4(n): #fungsi dengan masukkan n (nilai yang ingin dicari)
  lt=[]
  for i in range(n): # menggybakan
    if i%3==0 or i%7==0: #cek apakah modulo (hasil bagi)
      lt.__(i) #simpan jika modulo nya nol
  lt_sum=np.sum(lt) #jumlah bilangan pada list nya
  print("Jumlah bilangan di bawah {} yang merupakan kelipatan 7 atau 3 adalah {}".format(n, lt_sum))